body{
    cursor: url(cursor\ test.png), auto;
    margin: 0px;
    background: linear-gradient(#860A04, #860A04);
}

.devider {
    display:block;
    align-items: center;
    justify-content: center;
    display:flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

header {
    display: flex;
    top: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(#15203c, #2d3c6c);
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    color: #f7f4e5;
    padding: 10px;
    box-sizing: border-box;
}
header div {
    color: #f7f4e5;
    font-family:'Notable', sans-serif ;
    font-weight: bolder;
    text-shadow: 0px 0px 5px #860A04;
    padding: 15px;
    font-size: 24px;
    text-align: center;
}
header img {
    height: 100%;
    object-fit: contain;
}
nav {
    padding: 10px;
}
nav a {
    padding: 10px 20px;
    font-size: larger;
    text-decoration:none ;
    color: #ec7d23;
    letter-spacing: 2px;
}
nav a:hover {
    color:#ec7d23;
    background-color: #414926;
    transition: 0.2s ;
}
 
.home {
    height: 600px;
    background: linear-gradient(#d02f1c, #ec7d23);
}

section.home {
    height: 600px;
    background-image: url("homebg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 200px;
}
section.home div{
    text-align: center;
    justify-content: center;
    color:#2d3c6c;
    margin: auto;
    width: 70%;
    padding: 20px;
}
section.home .welcome{
    background-color: rgba(255, 255, 255, 0.08);
    border: 2px solid #f7f4e5;
    display: flex;
    font-size: 28px;
    color: #f7f4e5;
    padding: 10px 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px #C81D0E;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    font-family: "Rammetto One", sans-serif;
}
section.home a{
    display: inline-block;
    margin-top: 20px;
    background-color: #cc4b00;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 16px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 0 10px #cc4b00;
    transition: 0.3s ease;
}

section.home a:hover {
    cursor: url(dojall.gif),auto;
    color: #f7f4e5;
    background-color: #414926;
    transition: 0.2s ;
}

section.home h3{
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px #860A04;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section.about {
    background-image: url(download.jpg);
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 200px;
}

section.about div{
    color: #f7f4e5;
    text-align: center;
    margin: auto;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 5px #860A04;
    border-radius: 40px;
    font-size: 18px;
}
section.about img{
    height: 600px;
    width: 500px;
    float: right;

    
}
section.product {
    height: 1200px;
    background-image: linear-gradient(#C81D0E, #860A04);
    background-size: 100px;
}
section.about h2 {
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Notable", sans-serif;
    text-shadow: 2px 2px 5px #000000;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    
}
h2 {
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    font-family: "Notable", sans-serif;
    text-shadow: 2px 2px 5px #000000;
    background-color:rgb(0, 0, 0, 0.5);
    border: 2px solid rgb(0, 0, 0, 0.0);
    border-radius: 10px;
}


section.product.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
}

.card {
    width: 200px;
    margin: 10px;
    height: 450px;
    padding-top: 80px;
    text-align: center;
    background: linear-gradient(rgb(255, 255, 255, 0 ), rgb(32, 9, 7));
    background-color: transparent;
    padding: 5px 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; 
   
}

section.card img {
    top: -40px;
    width: 20px; 
    max-height: 100px; 
    object-fit: cover; 
    margin: 0 auto;
    padding: 50px;
}

.card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease-in-out; 
}

section.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 30px;  
    grid-template-rows: auto; 
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
section.product.card img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.card img{
    transform: scale(1.15); 
    transition: 0.3s ease-in-out; 
}

section.product.button {
    cursor: url(ramenn.gif);
    margin: 5px;
}

.deskripsi {
    padding: 0px 10px;
    color: #f7f4e5;
    text-shadow: 2px 2px 5px rgb(180, 20, 15);
    text-align: center;
}
.nama {
  font-family: "Notable", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
  color: #ffffff;
  text-shadow: 2px 2px 5px #000000;
  text-decoration-line: underline;
  text-decoration-style: wavy;
}
.label {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ff4444;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    transform: rotate(-10deg);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.harga{
    font-weight: bold;
    margin: 5px ;
    color: #ffffff;
}

button {
    background-color: #000000;
    font-size: 15px;
    color: #FFFFFF;
    padding: 2px;
    margin: 3px 4px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    cursor: url(ramenn.gif),auto;
    
}
.card i {
    color: #f7f4e5;
}

  section.contact {
    height: 600px;
    background-image: url("bg\ logo.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 0px;
    margin: 0px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ffcccb;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .kartu {
    text-align: center;
    color: #f7f4e5;
}

.contact .kartu img {
    image-orientation: center;
    width: 240px;
    height: 240px;
    display: block;
    margin: 0 auto;
    
    
}

.contact .kartu div h1{
    color: #f7f4e5;
    text-shadow: 0px 5px 5px #860A04;
    border: 2px solid rgb(0, 0, 0, 0.0);
    border-radius: 10px;
    background: linear-gradient(45deg, rgba(82, 19, 15, 0.5), rgba(184, 96, 8, 0.5),rgb(82, 19, 15, 0.55) );
    text-align: center;
    margin: auto;
    width: 70%;
}
.kartu div:hover {
    transform: scale(1.05); 
}

.footer {
    height: 100px;
}
footer .medsos{
    text-align: center;
    padding-top: 10px;
    background: linear-gradient( #2d3c6c, #15203c);
}
footer .medsos a{
    color: #ec7d23;
    font-size: 20px;
    padding: 5px 20px;
}
.medsos a:hover{
    background-color: #414926;
    color: #ec7d23;
    transition: 0.2s ;
}